doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title 下層ページ

  body
    main
      .p-h1 下層ページ

      a(href="/index.html") TOPへ
