doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title TOP

  body
    main
      .p-h1 TOP

      a(href="content/index.html") 下層へ
      
      .p-contents
        .p-item.js-item
        .p-item.js-item
      
      #msg
        my-component
